#content1 {
    width: full-width;
}

.c1 {
    @include border;
    // @include flexCenter;
    background-color: $backgroundColor;
    width: full-width;
    height: 80vh;
    padding: 0 !important;
    border-width: 10px 10px 0px 10px;
    margin: 0 !important;
    text-align: left;
}





