.media-page {
    padding-top: 50px;
    width: full-width;
    height: 100vh;
    background-color: #1f1e1d;
    @include flexCenterTop;
}

.bank {
    @include flexCenterTop;
}

.media-page2 {
    padding-top: 50px;
    width: full-width;
    height: 100vh;
    background-color: #1f1e1d;
    @include flexCenterTop;
}

.demo, .people {
    @include flexCenterTop;
}
