// variables //
$btns: red;
$textColor: rgb(255, 255, 255);
$linkColor: rgb(255, 255, 255);
$headingColor: rgb(255, 255, 255);
$textFont: montserrat;
$headingFont: montserrat;
$flareBorder: #444444;
$navColor: #222222;
$backgroundColor: rgb(31, 30, 29);
$footerColor: #444444;

// snippets //
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin content {
    width: 100%;
    height: 100vh;
    background-color: lightcoral;
}

@mixin imgCover {
    background-color: black;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

@mixin overlay {
    background:  linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
        ), 
        url("/images/j.jpg");
}

@mixin border {
    border-style: solid;
    border-color: $flareBorder;
}




