// imports //
@import './variables';
@import './header';
@import './typography';
@import './header';
@import './footer';
@import './navbar';
@import './content1';
@import './content2';
@import './content3';
@import './content4';

// global //
* {
    margin: 0;
    padding: 0;
    z-index: 5 !important;
}

.p-padding {
    padding: 0% 20% 2.5% 20%;
}

.h-padding {
    padding: 2.5% 15% 2.5% 15%;
}

// .no-gutter, .container-fluid, .container, .row, nav {
//     margin-right: 0;
//     margin-left: 0;
//   }










